<div fxLayout="column" style='background: burlywood;'>
  <div fxLayout="row">
    <div class="card-padding">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Status</mat-card-title>
          <mat-card-subtitle>In progress</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-overflow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever remaining essentially unchanged.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-padding">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Status</mat-card-title>
          <mat-card-subtitle>In progress</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-overflow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-padding">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Status</mat-card-title>
          <mat-card-subtitle>In progress</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-overflow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row">
    <div class="card-padding">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Projects</mat-card-title>
          <mat-card-subtitle>My App</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-overflow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-padding">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Projects</mat-card-title>
          <mat-card-subtitle>My App</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-overflow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s galley of type and scrambled it to make a type specimen book.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-padding">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Projects</mat-card-title>
          <mat-card-subtitle>My App</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-overflow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s galley of type and scrambled it to make a type specimen book.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row">
    <div class="card-padding">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Revenue</mat-card-title>
          <mat-card-subtitle>Finance</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-overflow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-padding">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Revenue</mat-card-title>
          <mat-card-subtitle>Finance</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-overflow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s galley of type and scrambled it to make a type specimen book.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-padding">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Revenue</mat-card-title>
          <mat-card-subtitle>Finance</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-overflow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s galley of type and scrambled it to make a type specimen book.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>